<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.house.mapper.SubwayStationMapper">
    <!--   private Integer id;
    private Integer subwayId;
    private String name;-->
    <resultMap id="subwayResultMap" type="com.example.house.domain.SubwayStation">
        <id property="id" column="id"/>
        <result property="subwayId" column="subway_id"/>
        <result property="name" column="name"/>
    </resultMap>

    <!--     List<SubwayStation> findAllBySubwayId(Long subwayId);
    SubwayStation findOne(Long id);-->

    <select id="findAllBySubwayId" parameterType="java.lang.Long" resultMap="subwayResultMap">
        select * from subway_station where subway_id=#{subwayId}
    </select>

    <select id="findOne" parameterType="java.lang.Long" resultMap="subwayResultMap">
        select * from subway_station where id=#{id}
    </select>

</mapper>